.cover{


}

.cover-front{
    inline-size: inherit;
    block-size: inherit;
    background-color:var(--primary);   
    position: absolute;
    inset: 0;
    z-index: 2;

    transition: 2.5s transform;
    transform-origin: right center;
    backface-visibility: hidden;
}

.cover-back{
    inline-size: inherit;
    block-size: inherit;
    background-color: aqua;    
    position: absolute;
    inset: 0;
    z-index: 1;

    inset-inline-start: 100%;
    backface-visibility: hidden;
    
    transition: 2.5s transform;
    transform-origin: left center;
    transform: rotatey(-180deg);

}