.description{
    grid-area: description;
    background-color: var(--description);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: monospace;
    color: black;
    block-size: 6.6rem;
    overflow: auto;
    border: 2px solid black;
}

.description::-webkit-scrollbar {
    display: none;
}

.description p {
    margin: 0;
}