.navigation {
    grid-area: navigation;
    display: grid;
    inline-size: 5rem;
    block-size: 5rem;
    grid-template-areas: "a b c"
        "d e f"
        "g h i";
    grid-template-columns: repeat(3, 1.667rem);
    grid-template-rows: repeat(3, 1.667rem);

    -webkit-filter: drop-shadow(0.2rem .25rem 0 var(--black));

            filter: drop-shadow(0.2rem .25rem 0 var(--black));

    align-self: flex-start;
    justify-self: center;
}

.navigation>* {
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
    position: relative;
}

.navigation>button:active {
    transform: scale(0.9);
}
.navigation>*::after {
    content: '';
    border: 0.25rem solid transparent;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.navigation-right {
    grid-area: 2/ 3 / 3/ 4;
    transform-origin: left;
}

.navigation-left {
    grid-area: 2/ 1 / 3/ 2;
    transform-origin: right;
}

.navigation-up {
    grid-area: 1/ 2 / 2/ 3;
    transform-origin: bottom;
}

.navigation-down {
    grid-area: 3/ 2 / 4/ 3;
    transform-origin: top;
}

.navigation-center {
    grid-area: 2/ 2 / 3/ 3;
    transform-origin: center;
}

.navigation-left::after{
    -webkit-border-start: none;
            border-inline-start: none;
    border-inline-end-color: var(--white);   
}

.navigation-right::after{
    -webkit-border-end: none;
            border-inline-end: none;
    border-inline-start-color: var(--white);   
}
.navigation-up::after{
    -webkit-border-before: none;
            border-block-start: none;
    border-block-end-color: var(--white);   
}
.navigation-down::after{
    -webkit-border-after: none;
            border-block-end: none;
    border-block-start-color: var(--white);   
}
